@model PronoFoot.ViewModels.DayFormViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class="day-form", data_bind = "submit: save" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name, "Nom", new { @class = "control-label" })
        <div class="">
            <input class="form-control" data-bind="value: name" type="text" />
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Date, new { @class = "control-label" })
        <div class="">
            <input class="form-control" data-bind="date: date, dateFormat: 'DD/MM/YYYY'" />
            @Html.ValidationMessageFor(x => x.Date)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Coefficient, new { @class = "control-label" })
        <div class="">
            <input class="coefficient form-control" data-bind="value: coefficient" type="number" step="any" min="0" />
            @Html.ValidationMessageFor(x => x.Coefficient)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="Matches">Matchs</label>
        <div class="">
            <ul class="fixtures" data-bind="foreach: fixtures">
                <li>
                    <div class="delete-action">
                        <a href="#" data-bind="click: $root.removeFixture"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                    <input class="form-control fixture-date" data-bind="date: date, dateFormat: 'DD/MM/YYYY HH:mm'" />
                    <div class="fixture row">
                        <div class="home col-sm-6">
                            <input class="form-control goals goal-input" data-bind="value: homeTeamGoals" type="number" min="0" />
                            <div class="team">
                                <select class="form-control" data-bind="options: $root.teams, value: homeTeamId, optionsText: 'Name', optionsValue: 'Id'"></select>
                            </div>
                        </div>
                        <div class="away col-sm-6">
                            <input class="form-control goals goal-input" data-bind="value: awayTeamGoals" type="number" min="0" />
                            <div class="team">
                                <select class="form-control" data-bind="options: $root.teams, value: awayTeamId, optionsText: 'Name', optionsValue: 'Id'"></select>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#" data-bind="click: addFixture">Ajouter un match</a>
    </div>
    <div class="form-group actions">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
}

@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/knockout")
<script type="text/javascript" src="~/App/viewmodels/DayForm.js"> </script>

@{string initialData = Newtonsoft.Json.JsonConvert.SerializeObject(Model, new Newtonsoft.Json.Converters.IsoDateTimeConverter());}

<script>
    var initialData = @Html.Raw(initialData);
    var viewModel = new DayModel(initialData.Name, initialData.Date, initialData.Coefficient, initialData.Fixtures, initialData.Teams);
    ko.applyBindings(viewModel);
</script>

