@model DayForecastViewModel
@{
    ViewBag.Title = Model.Day.Name;
}
<h2>@Model.Day.Name</h2>
Now: @DateTime.Now.ToString()<br />
UtcNow: @DateTime.UtcNow.ToString()<br />
Utc time for 06/11/2011 17:54 (French time): @TimeZoneInfo.ConvertTimeToUtc(new DateTime(2011, 11, 6, 17, 54, 0), TimeZoneInfo.FindSystemTimeZoneById("Romance Standard Time")).ToString()<br />
Time for 1st fixture: @Model.Forecasts.First().Fixture.Date.ToString();
UtcTime for 1st fixture: @Model.Forecasts.First().Fixture.Date.ToUniversalTime().ToString();

@using (Html.BeginForm())
{ 
    <table>
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        @{
            int i = 0;
            foreach (var forecast in Model.Forecasts.OrderBy(x => x.Fixture.Date))
            {
                if (forecast.Fixture.CanBeForecast)
                { @Html.EditorFor(x => forecast, null, "Forecasts[" + i +"]." );
                    i++;
                }
                else
                { @Html.DisplayFor(x => forecast);
                }
            }
        }
    </table>
    <p>
        <input type="submit" value="Sauvegarder" />
    </p>
    <div>@Html.ActionLink("Annuler", "Details", new { id = Model.Day.DayId })</div>
}