@model DayForecastViewModel
@{
    ViewBag.Title = Model.Day.Name;
}
<h2>@Model.Day.Name</h2>

@using (Html.BeginForm())
{
    <ul class="ff-forecast from-group">
        @{
    int i = 0;
    foreach (var group in Model.Forecasts.GroupBy(x => x.Fixture.Date).OrderBy(x => x.Key))
    {
        <li class="row">
            <div class="col-md-4">
                <div class="fixture-date row">@group.Key.ToLongDateString() à @group.Key.ToShortTimeString()</div>
            </div>
            <div class="col-md-8 forecasts">
                <ul>
                    @foreach (var forecast in group)
                    {
                        <li class="fixture row">
                            @if (forecast.Fixture.CanBeForecast)
                            {
                                @Html.EditorFor(x => forecast, null, "Forecasts[" + i++ + "].")
                            }
                            else
                            {
                                @Html.DisplayFor(x => forecast)
                            }
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
        }
    </ul>

    <div class="actions">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        @Html.ActionLink("Annuler", "Details", new { id = Model.Day.DayId }, new { @class = "btn btn-default" })
    </div>
}
