@model HomeViewModel
@{
    ViewBag.Title = "Accueil";
}
<h2>@Model.Competition.Name</h2>
<div id="days">
    <h5>Journées</h5>
    <table>
        <thead>
            <tr>
                <th>
                    Journée
                </th>
                <th>
                    Date
                </th>
                <th colspan="2">
                    Pronostics
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.Days)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Details", "Day", new {id = item.DayId}, null)</td>
                <td>@item.Date.ToString("d")</td>
                <td>@if(item.ForecastMadeByCurrentUser)
                    {<img alt="OK" src="@Url.Content("~/Content/ok.png")" />}
                </td>
                <td>@if(item.CanBeForecast)
                    {@Html.ActionLink("Pronostiquer", "Forecast", "Day", new {id = item.DayId}, null)}
                </td>
            </tr>
        }
    </table>
</div>
<div id="classification">
    @Html.Partial("_Classification", Model.Scores)
</div>