@model PronoFoot.Models.Competition.CompetitionModel
@Html.ValidationSummary(true)

@Html.HiddenFor(model => model.Id)

<div class="form-group">
    @Html.LabelFor(m => m.Name, "Nom", new { @class = "control-label" })
    <div class="">
        @Html.EditorFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="">
        @Html.CheckBoxFor(model => model.HasTeamClassification, new { @class = "form-control" })
        @Html.LabelFor(model => model.HasTeamClassification, "Afficher le classement des équipes", new { @class = "control-label" })
    </div>
</div>