<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - PronoFoot</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <!--<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>-->
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <div class="content-wrapper" id="header-content">
            <div class="clear-fix">
                <div id="title" class="float-left">
                    <p class="site-title">@Html.ActionLink("PronoFoot", "Index", "Home")</p>
                </div>
                <section id="login" class="float-right">
                    @Html.Partial("_LogOnPartial")
                </section>
            </div class="clear-fix">
            <nav>
                @Html.Action("Menu", "Common")
            </nav>
        </div>
    </header>
    <div id="content">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    @*<footer>
        <div class="content-wrapper">
        </div>
    </footer>*@
</body>
</html>
