<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - PronoFoot</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <header>
        <div class="content-wrapper" id="header-content">
            <div class="clear-fix">
                <div id="title" class="float-left">
                    <p class="site-title">@Html.ActionLink("PronoFoot", "Index", "Home")</p>
                </div>
                <section id="login" class="float-right">
                    @Html.Partial("_LogOnPartial")
                </section>
            </div class="clear-fix">
            <nav>
                @Html.Action("Menu", "Common")
            </nav>
        </div>
    </header>
    <div id="content">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    @*<footer>
        <div class="content-wrapper">
        </div>
    </footer>*@
        
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
