@model PronoFoot.Models.RegisterModel

@{
    ViewBag.Title = "Inscription";
}

<h2>@ViewBag.Title</h2>
<p>
    Le mot de passe doit contenir au moins @Membership.MinRequiredPasswordLength caractères.
</p>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "La création du compte a échoué. Veuillez corriger les erreurs et recommencer.")
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
        <div class="">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        <div class="">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        <div class="">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div class="">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    
    <div class="form-group actions">
        <input type="submit" class="btn btn-primary" value="S'inscrire" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/Scripts/dist/jquery-validate-bundle.min.js")
}