@model PronoFoot.ViewModels.ForecastViewModel
           
<tr>
    <td class="hidden-xs">@String.Format("{0:g}", Model.Fixture.Date)
    </td>
    <td class="home">@Model.HomeTeam.Name @if(Model.HomeTeam.Standing.HasValue) { <span class="rank">(@Model.HomeTeam.Standing)</span> }
    </td>
    <td><p class="goal-label">@Model.HomeTeamGoals</p>
    </td>
    <td><p class="goal-label">@Model.AwayTeamGoals</p>
    </td>
    <td>@Model.AwayTeam.Name @if (Model.AwayTeam.Standing.HasValue) { <span class="rank">(@Model.AwayTeam.Standing)</span> }
</td>
</tr>
