@model PronoFoot.ViewModels.ForecastViewModel
           
<tr>
    <td>@String.Format("{0:g}", Model.Fixture.Date)
    </td>
    <td>@Model.HomeTeam.Name @if(Model.HomeTeam.Standing.HasValue) { <span class="rank">(@Model.HomeTeam.Standing)</span> }
    </td>
    <td>@Model.HomeTeamGoals
    </td>
    <td>@Model.AwayTeamGoals
    </td>
    <td>@Model.AwayTeam.Name @if (Model.AwayTeam.Standing.HasValue) { <span class="rank">(@Model.AwayTeam.Standing)</span> }
</td>
</tr>
